<p-toast position="top-center"></p-toast>
<form #forgotPasswordForm="ngForm" (ngSubmit)="sendForgotPassword(forgotPasswordForm)">
  <!-- Diálogo para recuperar la contraseña -->
  <span class="p-text-secondary block mb-8">Introduce tu correo para restablecer la contraseña.</span>
  <p-floatlabel class="mb-8">
    <input pInputText id="forgotEmail" [(ngModel)]="forgotEmail" class="w-full" type="text" name="email" required email/>
    <label for="forgotEmail" class="font-semibold w-24">Email</label>
  </p-floatlabel>

  <div class="flex justify-end gap-2">
    <p-button label="Enviar contraseña" type="submit" ><i class="pi pi-lightbulb"></i></p-button>
  </div>
</form>


